html {
    /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
    font-size: 62.5%;
  }
  

/*sets default background for body of page*/
body {
    background-color: #d9dcd6;
}

main{
    height: max-content;
    display:block
}

section {
    height:max-content;
    display: flex;
    align-items: center;
    padding:20px;
    justify-content: space-between;

}

/*formats header element of page*/
header{
    background-color: rgb(72, 72, 187);
    color: white;
    display:flex;
    justify-content: space-between;
    align-items: end;
    
}



h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.625rem;
  font-weight: 700;
  line-height: 1.1;
}
/*formats h1 header*/
 h1 {
   
    font-size: 4rem;
    border-style: none solid none none;
    line-height: 
}

 
figure {
    padding: 20px;
font-size: 20px;
display: flex;
flex-direction: column;
align-items: center;

}
 
figcaption {
    color: black;
    font-weight: bold;
    word-wrap: break-word;
    line-height: 1.3;
    text-align: center;
}

img {
    padding: 20px
   
}

.sidebar {
    width: 20%;
    
}

/*format navigation links*/
 nav {

    padding: 20px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: inline;
    color: white;
  
 
}
/*format nav links to not have a list style type*/
 nav ul {
    list-style-type: none;
}

/*format list of links to be in a row*/
 nav ul li{
    display: inline;
    margin-left: 25px
}

 .contact {
    color: black;
 }

/*formats hyperlink font to color shown and displays hyperlink without a line*/
a {
    color:white;
    text-decoration: none;
}

p {
    width: 80%; 
    float:right;
      padding:20px;
      word-wrap: break-word;
      font-size: 2rem;
      font-weight: 200;
}

/*format header figcaption font color*/
.header-caption {
    color: white;
}

.work {
    width:80%;
    background: rgb(209, 209, 152);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    
    
}

.work img:hover {
    opacity:.75;
}

.main-project{
    display: flex;
    justify-content: center;
}

/*formats the size of the main project image*/
.main-project-img {
    width: 80%;    
    
}
/*formats size of all project images except main project image*/
.project-img {
   width: 500px;
   height 281.25px;
}

/*formats all project containers except first project*/
.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*formats the link to each of the individual project*/
.project-link {padding: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;}
   